<template>
  <div class="nav-bar">
    Vacation Manager
  </div>
</template>

<style scoped lang="sass">
  .nav-bar
    margin: .5em 2.5% 1em 2.5%
    width: 95%
    height: 80px
    background-image: linear-gradient(45deg, hsl(0, 85%, 65%), 80%, hsl(240, 50%, 50%))
    border-top-left-radius: 30px
    border-bottom-right-radius: 30px
    padding: 0 100px
    font-size: 32px
    font-weight: 600
    display: flex
    align-items: center
</style>