<template>
  <div>
    <ApplicationHeader />
    <slot />
  </div>
</template>

<script lang="ts">
// import ApplicationHeader from "../components/ApplicationHeader.vue";
</script>

<!--<style scoped>-->
<!--</style>-->